---
import { SearchComponent } from "@/components/ui/search";
---

<section class="flex flex-col items-center justify-center gap-4 p-4 idbg">
    <h1 class="text-3xl font-bold">Your Waitlist is Waiting</h1>
    <SearchComponent client:load />
</section>
