---
import { PinIcon } from "lucide-react";
---

<a href="#" class="inline-flex items-center gap-2 self-center font-medium">
    <div
        class="bg-primary text-primary-foreground flex size-6 items-center justify-center rounded-md"
    >
        <PinIcon className="size-4" />
    </div>
    Waitlist App
</a>
